.list-item1 {
  background-color: white;
  margin-left: -40px;
  padding-left: 10px;
  width: 190px;
  font-family: Roboto-Regular, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 27px;
  display: inline-block;
  color: #757575;
  cursor: pointer;
}

.list-item1:hover {
  background-color: #e2e4e2;
  color: #1a9cb7;
}

.itms1 {
  display: flex;
  justify-content: center;
  margin-top: -40px;
  margin-left: 160px;
  position: absolute;
  z-index: 1000;
  height: 346px;
  width: 200px;
  visibility: hidden;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
}
.submenu1 {
  box-sizing: border-box;
  list-style: none;
  color: #757575;
  font-family: Roboto-Regular, Helvetica, sans-serif;
  font-size: 13px;
  background-color: rgb(255, 255, 255);
  padding-top: 13px;
}

.list-item1:hover + .itms1 {
  visibility: visible;
}

.itms1:hover {
  visibility: visible;
}

.list-item1_1 {
  margin-left: -40px;
  padding-top: 5.7px;
  padding-right: 86.5px;
  padding-left: 10px;
  padding-bottom: 5.8px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.list-item1_1:hover {
  background-color: #e2e4e2;
  color: #1a9cb7;
}

.list-item1_1:hover + .itms1_1 {
  visibility: visible;
}

.itms1_1 {
  display: flex;
  justify-content: center;
  margin-top: -40px;
  margin-left: 160px;
  position: absolute;
  z-index: 1000;
  height: 346px;
  width: 200px;
  visibility: hidden;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
}

.itms1_1:hover {
  visibility: visible;
}

.submenu1_1 {
  box-sizing: border-box;
  list-style: none;
  color: #757575;
  font-family: Roboto-Regular, Helvetica, sans-serif;
  font-size: 13px;
  background-color: rgb(255, 255, 255);
  padding-top: 13px;
}

.submenu1_1 li {
  margin-left: -40px;
  padding-top: 5.7px;
  padding-right: 85px;
  padding-left: 10px;
  padding-bottom: 5.8px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}


.submenu1_1 li:hover {
  color: #1a9cb7;
}


.list-item1_2 {
  margin-left: -40px;
  padding-top: 5.7px;
  padding-right: 86.5px;
  padding-left: 10px;
  padding-bottom: 5.8px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.list-item1_2:hover {
  background-color: #e2e4e2;
  color: #1a9cb7;
}

.list-item1_2:hover + .itms1_2 {
  visibility: visible;
}

  .itms1_2 {
    display: flex;
    justify-content: center;
    margin-top: -67px;
    margin-left: 160px;
    position: absolute;
    z-index: 1000;
    height: 346px;
    width: 200px;
    visibility: hidden;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
  }

  .itms1_2:hover {
    visibility: visible;
  }

  .submenu1_2 {
    box-sizing: border-box;
    list-style: none;
    color: #757575;
    font-family: Roboto-Regular, Helvetica, sans-serif;
    font-size: 13px;
    background-color: rgb(255, 255, 255);
    padding-top: 13px;
  }
  
  .submenu1_2 li {
    margin-left: -40px;
    padding-top: 5.7px;
    padding-right: 90.5px;
    padding-left: 10px;
    padding-bottom: 5.8px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .submenu1_2 li:hover {
    color: #1a9cb7;
  }
  


.list-item1_3 {
  margin-left: -40px;
  padding-top: 5.7px;
  padding-right: 86.5px;
  padding-left: 10px;
  padding-bottom: 5.8px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

  
.list-item1_3:hover + .itms1_3 {
  visibility: visible;
}

.list-item1_3:hover {
  background-color: #e2e4e2;
  color: #1a9cb7;
}

  .itms1_3{
    display: flex;
    justify-content: center;
    margin-top: -93.5px;
    margin-left: 160px;
    position: absolute;
    z-index: 1000;
    height: 346px;
    width: 200px;
    visibility: hidden;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
  }

  .itms1_3:hover {
    visibility: visible;
  }

  .submenu1_3 {
    box-sizing: border-box;
    list-style: none;
    color: #757575;
    font-family: Roboto-Regular, Helvetica, sans-serif;
    font-size: 13px;
    background-color: rgb(255, 255, 255);
    padding-top: 13px;
  }
  
  .submenu1_3 li {
    margin-left: -40px;
    padding-top: 5.7px;
    padding-right: 49.5px;
    padding-left: 10px;
    padding-bottom: 5.8px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .submenu1_3 li:hover {
    color: #1a9cb7;
  }
  

.list-item1_4 {
  margin-left: -40px;
  padding-top: 5.7px;
  padding-right: 86.5px;
  padding-left: 10px;
  padding-bottom: 5.8px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.list-item1_4:hover + .itms1_4 {
  visibility: visible;
}

.list-item1_4:hover {
  background-color: #e2e4e2;
  color: #1a9cb7;
}

.itms1_4{
  display: flex;
  justify-content: center;
  margin-top: -120.5px;
  margin-left: 160px;
  position: absolute;
  z-index: 1000;
  height: 346px;
  width: 200px;
  visibility: hidden;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
}

.itms1_4:hover {
  visibility: visible;
}

.submenu1_4 {
  box-sizing: border-box;
  list-style: none;
  color: #757575;
  font-family: Roboto-Regular, Helvetica, sans-serif;
  font-size: 13px;
  background-color: rgb(255, 255, 255);
  padding-top: 13px;
}

.submenu1_4 li {
  margin-left: -40px;
  padding-top: 5.7px;
  padding-right: 86.5px;
  padding-left: 10px;
  padding-bottom: 5.8px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.submenu1_4 li:hover {
  color: #1a9cb7;
}


.list-item1_5 {
  margin-left: -40px;
  padding-top: 5.7px;
  padding-right: 86.5px;
  padding-left: 10px;
  padding-bottom: 5.8px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.list-item1_5:hover {
  background-color: #e2e4e2;
  color: #1a9cb7;
}

.list-item1_6 {
  margin-left: -40px;
  padding-top: 5.7px;
  padding-right: 86.5px;
  padding-left: 10px;
  padding-bottom: 5.8px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.list-item1_6:hover {
  background-color: #e2e4e2;
  color: #1a9cb7;
}


.list-item1_6:hover + .itms1_6 {
  visibility: visible;
}

.itms1_6{
  display: flex;
  justify-content: center;
  margin-top: -174.5px;
  margin-left: 160px;
  position: absolute;
  z-index: 1000;
  height: 346px;
  width: 200px;
  visibility: hidden;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
}

.itms1_6:hover {
  visibility: visible;
}

.submenu1_6 {
  box-sizing: border-box;
  list-style: none;
  color: #757575;
  font-family: Roboto-Regular, Helvetica, sans-serif;
  font-size: 13px;
  background-color: rgb(255, 255, 255);
  padding-top: 13px;
}

.submenu1_6 li {
  margin-left: -40px;
  padding-top: 5.7px;
  padding-right: 60.5px;
  padding-left: 10px;
  padding-bottom: 5.8px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.submenu1_6 li:hover{
  color: #1a9cb7;
}


.list-item1_7 {
  margin-left: -40px;
  padding-top: 5.7px;
  padding-right: 86.5px;
  padding-left: 10px;
  padding-bottom: 5.8px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.list-item1_7:hover {
  background-color: #e2e4e2;
  color: #1a9cb7;
}


.list-item1_7:hover + .itms1_7 {
  visibility: visible;
}

.itms1_7{
  display: flex;
  justify-content: center;
  margin-top: -201px;
  margin-left: 160px;
  position: absolute;
  z-index: 1000;
  height: 346px;
  width: 200px;
  visibility: hidden;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
}

.itms1_7:hover {
  visibility: visible;
}

.submenu1_7 {
  box-sizing: border-box;
  list-style: none;
  color: #757575;
  font-family: Roboto-Regular, Helvetica, sans-serif;
  font-size: 13px;
  background-color: rgb(255, 255, 255);
  padding-top: 13px;
}

.submenu1_7 li {
  margin-left: -40px;
  padding-top: 5.7px;
  padding-right: 117.5px;
  padding-left: 10px;
  padding-bottom: 5.8px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.submenu1_7 li:hover{
  color: #1a9cb7;
}

