.list-item9{
    background-color: white;
    margin-left: -40px;
    padding-left: 10px;
    width: 190px;
    font-family: Roboto-Regular, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 27px;
    display: inline-block;
    color:#757575;
    cursor: pointer;
    }
  
    .list-item9:hover{
      background-color: #e2e4e2;
      color: #1a9cb7;
      
  }

  .itms9{
    display: flex;
    justify-content: center;  
    margin-top: -253.5px;
    margin-left: 160px;
    position: absolute;
    z-index: 1000;
    height: 346px;
    width: 200px;
    visibility: hidden;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
  }
  .submenu9{
    box-sizing: border-box;
    list-style: none;
    color:#757575;
    font-family: Roboto-Regular, Helvetica, sans-serif;
    font-size: 13px;
    background-color: white;
    padding-top: 12px;
  }
  .list-item9:hover + .itms9{
    visibility: visible;
  }

  .itms9:hover{
      visibility: visible;
  }
  
  .list-item9_1 {
    margin-left: -40px;
    padding-top: 5.7px;
    padding-right: 44px;
    padding-left: 10px;
    padding-bottom: 5.8px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .list-item9_1:hover {
    background-color: #e2e4e2;
    color: #1a9cb7;
  }
  
  .list-item9_1:hover + .itms9_1 {
    visibility: visible;
  }
  
    .itms9_1 {
      display: flex;
      justify-content: center;
      margin-top: -39px;
      margin-left: 160px;
      position: absolute;
      z-index: 1000;
      height: 346px;
      width: 200px;
      visibility: hidden;
      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
    }
  
    .itms9_1:hover {
      visibility: visible;
    }
  
    .submenu9_1 {
      box-sizing: border-box;
      list-style: none;
      color: #757575;
      font-family: Roboto-Regular, Helvetica, sans-serif;
      font-size: 13px;
      background-color: rgb(255, 255, 255);
      padding-top: 13px;
    }
    
    .submenu9_1 li {
      margin-left: -40px;
      padding-top: 5.7px;
      padding-right: 59px;
      padding-left: 10px;
      padding-bottom: 5.8px;
      box-sizing: border-box;
      background-color: rgb(255, 255, 255);
      cursor: pointer;
    }
    
    .submenu9_1 li:hover {
      color: #1a9cb7;
    }
    
  
  .list-item9_2 {
    margin-left: -40px;
    padding-top: 5.7px;
    padding-right: 44px;
    padding-left: 10px;
    padding-bottom: 5.8px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .list-item9_2:hover {
    background-color: #e2e4e2;
    color: #1a9cb7;
  }
  
  .list-item9_2:hover + .itms9_2 {
    visibility: visible;
  }
  
    .itms9_2 {
      display: flex;
      justify-content: center;
      margin-top: -65.5px;
      margin-left: 160px;
      position: absolute;
      z-index: 1000;
      height: 346px;
      width: 200px;
      visibility: hidden;
      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
    }
  
    .itms9_2:hover {
      visibility: visible;
    }
  
    .submenu9_2 {
      box-sizing: border-box;
      list-style: none;
      color: #757575;
      font-family: Roboto-Regular, Helvetica, sans-serif;
      font-size: 13px;
      background-color: rgb(255, 255, 255);
      padding-top: 13px;
    }
    
    .submenu9_2 li {
      margin-left: -40px;
      padding-top: 5.7px;
      padding-right: 36.5px;
      padding-left: 10px;
      padding-bottom: 5.8px;
      box-sizing: border-box;
      background-color: rgb(255, 255, 255);
      cursor: pointer;
    }
    
    .submenu9_2 li:hover {
      color: #1a9cb7;
    }
    
  .list-item9_3 {
    margin-left: -40px;
    padding-top: 5.7px;
    padding-right: 44px;
    padding-left: 10px;
    padding-bottom: 5.8px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
    
  .list-item9_3:hover + .itms9_3 {
    visibility: visible;
  }
  
  .list-item9_3:hover {
    background-color: #e2e4e2;
    color: #1a9cb7;
  }
  
    .itms9_3{
      display: flex;
      justify-content: center;
      margin-top: -92.5px;
      margin-left: 160px;
      position: absolute;
      z-index: 1000;
      height: 346px;
      width: 200px;
      visibility: hidden;
      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
    }
  
    .itms9_3:hover {
      visibility: visible;
    }
  
    .submenu9_3 {
      box-sizing: border-box;
      list-style: none;
      color: #757575;
      font-family: Roboto-Regular, Helvetica, sans-serif;
      font-size: 13px;
      background-color: rgb(255, 255, 255);
      padding-top: 13px;
    }
    
    .submenu9_3 li {
      margin-left: -40px;
      padding-top: 5.7px;
      padding-right: 61px;
      padding-left: 10px;
      padding-bottom: 5.8px;
      box-sizing: border-box;
      background-color: rgb(255, 255, 255);
      cursor: pointer;
    }
    
    .submenu9_3 li:hover {
      color: #1a9cb7;
    }
    
  
  .list-item9_4 {
    margin-left: -40px;
    padding-top: 5.7px;
    padding-right: 44px;
    padding-left: 10px;
    padding-bottom: 5.8px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .list-item9_4:hover + .itms9_4 {
    visibility: visible;
  }
  
  .list-item9_4:hover {
    background-color: #e2e4e2;
    color: #1a9cb7;
  }
  
  .itms9_4{
    display: flex;
    justify-content: center;
    margin-top: -119.5px;
    margin-left: 160px;
    position: absolute;
    z-index: 1000;
    height: 346px;
    width: 200px;
    visibility: hidden;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
  }
  
  .itms9_4:hover {
    visibility: visible;
  }
  
  .submenu9_4 {
    box-sizing: border-box;
    list-style: none;
    color: #757575;
    font-family: Roboto-Regular, Helvetica, sans-serif;
    font-size: 13px;
    background-color: rgb(255, 255, 255);
    padding-top: 13px;
  }
  
  .submenu9_4 li {
    margin-left: -40px;
    padding-top: 5.7px;
    padding-right: 127.5px;
    padding-left: 10px;
    padding-bottom: 5.8px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .submenu9_4 li:hover {
    color: #1a9cb7;
  }
  
  
  .list-item9_5 {
    margin-left: -40px;
    padding-top: 5.7px;
    padding-right: 44px;
    padding-left: 10px;
    padding-bottom: 5.8px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }

  .list-item9_5:hover {
    background-color: #e2e4e2;
    color: #1a9cb7;
  }

  
  .list-item9_5:hover + .itms9_5{
    visibility: visible;
  }
  
  .itms9_5 {
    display: flex;
    justify-content: center;
    margin-top: -146px;
    margin-left: 160px;
    position: absolute;
    z-index: 1000;
    height: 346px;
    width: 200px;
    visibility: hidden;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
  }
  
  .itms9_5:hover {
    visibility: visible;
  }
  
  .submenu9_5 {
    box-sizing: border-box;
    list-style: none;
    color: #757575;
    font-family: Roboto-Regular, Helvetica, sans-serif;
    font-size: 13px;
    background-color: rgb(255, 255, 255);
    padding-top: 13px;
  }
  
  .submenu9_5 li {
    margin-left: -40px;
    padding-top: 5.7px;
    padding-right: 81px;
    padding-left: 10px;
    padding-bottom: 5.8px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  
  .submenu9_5 li:hover {
    color: #1a9cb7;
  }
  
  
  .list-item9_6 {
    margin-left: -40px;
    padding-top: 5.7px;
    padding-right: 44px;
    padding-left: 10px;
    padding-bottom: 5.8px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .list-item9_6:hover {
    background-color: #e2e4e2;
    color: #1a9cb7;
  }
  
  .list-item9_6:hover + .itms9_6 {
    visibility: visible;
  }
  
  .itms9_6{
    display: flex;
    justify-content: center;
    margin-top: -173px;
    margin-left: 160px;
    position: absolute;
    z-index: 1000;
    height: 346px;
    width: 200px;
    visibility: hidden;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
  }
  
  .itms9_6:hover {
    visibility: visible;
  }
  
  .submenu9_6 {
    box-sizing: border-box;
    list-style: none;
    color: #757575;
    font-family: Roboto-Regular, Helvetica, sans-serif;
    font-size: 13px;
    background-color: rgb(255, 255, 255);
    padding-top: 13px;
  }
  
  .submenu9_6 li {
    margin-left: -40px;
    padding-top: 5.7px;
    padding-right: 63px;
    padding-left: 10px;
    padding-bottom: 5.8px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .submenu9_6 li:hover{
    color: #1a9cb7;
  }

  .list-item9_7{ 
    margin-left: -40px;
    padding-top: 5.7px;
    padding-right: 44px;
    padding-left: 10px;
    padding-bottom: 5.8px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .list-item9_7:hover {
    background-color: #e2e4e2;
    color: #1a9cb7;
  }
  
  .list-item9_7:hover + .itms9_7 {
    visibility: visible;
  }
  
  .itms9_7{
    display: flex;
    justify-content: center;
    margin-top: -200px;
    margin-left: 160px;
    position: absolute;
    z-index: 1000;
    height: 346px;
    width: 200px;
    visibility: hidden;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
  }
  
  .itms9_7:hover {
    visibility: visible;
  }
  
  .submenu9_7 {
    box-sizing: border-box;
    list-style: none;
    color: #757575;
    font-family: Roboto-Regular, Helvetica, sans-serif;
    font-size: 13px;
    background-color: rgb(255, 255, 255);
    padding-top: 13px;
  }
  
  .submenu9_7 li {
    margin-left: -40px;
    padding-top: 5.7px;
    padding-right: 87.5px;
    padding-left: 10px;
    padding-bottom: 5.8px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .submenu9_7 li:hover{
    color: #1a9cb7;
  }
